
body{

    font-size: 14px;
    font-family: 'Noto Sans KR';
}
:root {
    --background: #fcf6ef;
    --white: #ffffff;
    --black: #000000;
    --font-color: #363636;
    --brown: #d7c3ab;
    --brown-hover: #a39583;
    --orange: #fea028;
    --orange-hover: #d68822;
    --danger:#fe2828;
    --danger-hover:#d62222;
    --green: #06bf17;
    --greyish-brown: #595757;
    --warm-grey-two: #7c7c7c;
    --warm-grey: #a0a0a0;
    --orangeish-grey: #bcbcbc;
    --white-three: #e0e0e0;
    --white-two: #f7f7f7;
}
.background{
    background-color: var(--background);
}
.contents_wrap{
    color: var(--font-color);
    letter-spacing: -0.75px;
    padding-top: 100px;
    text-align: center;
    height: 100vh;
}
.action_wrap{
    margin: 30px 0;
}

#question{
    font-size: 1.5rem;
}

.question_desc{

    color: var(--greyish-brown);
    font-size: 1rem;
}
.basic-menu{
    background-color: var(--white);
    box-shadow: 0 4px 4px rgba(215,195,171,0.5);
}

.main_title{
    font-size: 1.75rem;
}
.main_subtitle{
text-align: left;
    font-size: 1.25rem;
}

.main_desc{
    border-bottom: 1px solid var(--brown);
    padding-bottom: 20px;
    margin: 20px 0;
    text-align: left;
}
.main_empha{
    margin: 20px 0;
    list-style: circle;
    text-align: left;

}
.main_agree{
    padding-top: 20px;
    border-top: 1px solid var(--brown);
    margin: 20px 0;
    text-align: left;
    color: var(--black);
}

/*result*/
.result_wrap{
    text-align: left;
}
.result_title{
    text-align: center;

    font-size: 1.5rem;
    margin-bottom: 0;
}
.result_good{
    color: var(--danger-hover);
}
.result_bad{
    color: var(--green);
}
.result_warning{
    color: var(--orange);
}
.result_desc{
    padding: 10px;
    background-color: var(--white);
    border-radius:4px ;
    box-shadow: 0 4px 4px rgba(215,195,171,0.5);
    margin: 20px 0;
    font-size: 1rem;
}

.result_clinic{
    padding: 10px;
    font-size: 1rem;
    margin: 20px 0;

}
.result_sub_desc{

    margin: 20px 0;
    padding: 10px;
    font-size: 0.85rem;
}

.result_subtitle{

    display: inline-block;
    border-bottom: 2px solid var(--orange);
    margin-bottom: 10px;
    font-size: 1.25rem;
}

/*footer*/
.footer{
    padding: 20px;
    background-color: var(--font-color);
    color: var(--white-three);
}

/*checkbox*/
.checkmark_wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    color: var(--greyish-brown);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark_wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.custom_check{

    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid var(--white-three);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.checkradio{
    border-radius: 50%;
}

.checkmark_wrap:hover input ~ .checkmark{
    border: 1px solid var(--white-two);
    background-color: var(--white-two);
}

.checkmark_wrap input:checked ~ .checkmark{
    border: 1px solid var(--orange);
    background-color: var(--orange);
}

.checkmark:after,
.checkradio:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark_wrap input:checked ~ .checkmark:after{
    display: block;
}

.checkmark_wrap .checkmark:after {

    left: 7px;
    top: 4px;
    width: 7px;
    height: 9px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}

.checkmark_wrap .checkradio:after {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:  var(--white);
}

/* Breakpoint XS */
@media (max-width: 575px)
{
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up,
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px)
{
    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up,
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
    .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint XL */
@media (min-width: 1200px)
{
    .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
    {
        display: none !important;
    }
}
