.btn-answer{
    width: 120px;
    margin: 0 10px;
}
.btn-round{
    border-radius: 8rem;
}

.btn-action {

    color: #fff;
    background-color: #fea028;
    border-color: #fea028;
}

.btn-action:hover {
    color: #fff;
    background-color: #c98020;
    border-color: #c98020;
}

.btn-action:focus, .btn-action.focus {
    box-shadow: 0 0 0 0.2rem #d6af7c;
}

.btn-action.disabled, .btn-action:disabled {
    color: #fff;
    background-color: #fea028;
    border-color: #fea028;
}

.btn-action:not(:disabled):not(.disabled):active, .btn-action:not(:disabled):not(.disabled).active,
.show > .btn-action.dropdown-toggle {
    color: #fff;
    background-color: #c98020;
    border-color: #bd781e;
}

.btn-action:not(:disabled):not(.disabled):active:focus, .btn-action:not(:disabled):not(.disabled).active:focus,
.show > .btn-action.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #d6af7c;
}
.btn-outline-action {
    color: #fea028;
    background-color: transparent;
    background-image: none;
    border-color: #fea028;
}

.btn-outline-action:hover {
    color: #fff;
    background-color: #fea028;
    border-color: #fea028;
}

.btn-outline-action:focus, .btn-outline-action.focus {
    box-shadow: 0 0 0 0.2rem #d6af7c;
}

.btn-outline-action.disabled, .btn-outline-action:disabled {
    color: #fea028;
    background-color: transparent;
}

.btn-outline-action:not(:disabled):not(.disabled):active, .btn-outline-action:not(:disabled):not(.disabled).active,
.show > .btn-outline-action.dropdown-toggle {
    color: #fff;
    background-color: #fea028;
    border-color: #fea028;
}

.btn-outline-action:not(:disabled):not(.disabled):active:focus, .btn-outline-action:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-action.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #d6af7c;
}

/*green*/

/*dropdown*/

/*sort*/
