
.toggle-button {
    position: fixed;
    padding: 9px 10px;
    margin: 3px 0 0 10px;
    height: 20px;
    width: 50px;
    z-index: 3;
}

.toggle-active{
    margin-top: 8px !important;
}
.bar {
    background-color: #000;
    display: block;
    width: 100%;
    height: 2px;
    border: 0;
    border-radius: 4rem;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

.ham-dark > .bar{

    background-color: #000 !important;
}

.bar + .bar {
    margin-top: 8px;
}
.middle {
    top: 11px;
}
.bottom {
    top: 22px;
    width: 50%;
}
.toggle-button:hover {
    opacity: .7;
}
.toggle-active .bar {
    background-color: #000;
}
.toggle-active .top {
    -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
}
.toggle-active .middle {
    display: none;
}
.toggle-active .bottom {
    width: 100%;
    -webkit-transform: translateY(-4px) translateX(0) rotate(-45deg);
}

.overlay {
    position: fixed;
    background-color: rgba(255,255,255,0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    /*-webkit-transition: opacity .35s, visibility .35s, height .35s;*/
}
.nav-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
/*    max-height: 340px;*/
}

#hamburger{
    display: none;
    cursor: pointer;
}

#full_menu{
    /*text-align: center;*/
}

.full_menu_wrap{
    margin: 40% auto;
}
.full-item:first-child{
	margin-top: 50px;

	border-top: 3px solid #5dd29f;
}
.full-item{
    padding: 10px 0;
}
.full-item:hover{
	background-color: #5dd29f20;
}
.full-link{
    color: #000;
    /*text-align: center;*/
    font-size: 1.15rem;
	margin-left: 24px;
}
.full-link:hover{
    text-decoration: none;
    color: rgba(0,0,0,.6);
}

.logo-index{
    z-index: 44444;
    filter: invert();
}

.full_menu_footer{
    color: #fff;
    font-weight: bold;
    font-size: 0.5rem;
    text-align: center;

}
