<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
          name="viewport"/>
    <meta name="description" content="코로나 자가 진단 서비스 - 닥터 코로나">
    <meta name="keywords" content="코로나, 코로나 바이러스, "/>

    <meta name="image" content="/www/img/og_logo.jpg">
    <meta property="og:image" content="/www/img/og_logo.jpg">
    <meta name="twitter:image" content="/www/img/og_logo.jpg">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="www/img/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/overlay.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/basic.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/overlay.js')}}"></script>

    <title>닥터 코로나 :: 코로나19 자가 진단 서비스 </title>
  </head>
  <body class="background">
  <nav class="navbar navbar-expand-md fixed-top basic-menu">
    <div class="container hidden-md-up" id="navigator">

      <div class="row" style="width: 100%;">
        <div class="col top_sm_left">
          <div class="toggle-button" id="hamburger">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
          </div>
        </div>
        <div class="col top_sm_center">
          <a class="top_sm_logo" href="/">
            <img src="www/img/logo.png" class="nav-logo" alt="Corona Doctor logo" >
          </a>
        </div>
        <div class="col top_sm_right">
          <div class="">
            <a class="btn btn-round btn-sm btn-action" href="/test">진단하기</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container  hidden-sm-down">

      <ul class="nav">
        <a class="navbar-brand" href="/">
          <img src="www/img/logo.png" class="nav-logo" alt="Corona Doctor logo" >
        </a>
        <li class="nav-item">
          <a class="nav-link btn btn-round btn-sm btn-action" href="/test">진단하기</a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="container">

      <div class="contents_wrap" id="startPage">

        <div class="row justify-content-md-center">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <h1 class="main_title">코로나 진단 서비스</h1>
            <div class="main_desc">
              코로나 진단 서비스 ㅇㅇ 은 ㅇㅇ하는 서비스입니다.<br>
              여러 의사들의 어쩌구를 토대로 서비스 어쩌구 저쩌구..
            </div>
            <h2 class="main_subtitle">주의사항</h2>
            <ul class="main_empha">
              <li>법적 책임이 없다 어쩌구</li>
              <li>참고용으로만 사용하세요.</li>
            </ul>
            <div class="main_agree">
              <label class="checkmark_wrap" for="agree" >주의사항을 모두 읽었습니다.
                <input type="checkbox" class="input_check"  id="agree" value="1">
                <span class="checkmark custom_check"></span>
              </label>
            </div>

            <div class="action_wrap">
              <div class="btn btn-round btn-answer btn-action btn-lg" onclick="go_test();">진단 시작</div>
            </div>
          </div>
        </div>

      </div>
      <!--------------->
      <div class="contents_wrap" id="questionPage">

        <div class="row justify-content-md-center">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div id="root">
              <div id="question">
                질문이 여기에
              </div>
              <div class="question_desc">
                질문 상세 설명은 여기에
              </div>
              <div class="action_wrap">
                <button type="button" class="btn btn-round btn-answer btn-action" id="Y_btn">Yes</button>
                <button type="button" class="btn btn-round btn-answer btn-outline-action" id="N_btn">No</button>
              </div>

            </div>

          </div>
        </div>
      </div>

      <!--------------->

      <div class="contents_wrap" id="resultPage">

        <div class="row justify-content-md-center">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="result_wrap">
              <h1 class="result_title result_good" id="result">양성으로 의심</h1>
              <h1 class="result_title result_bad" id="result">음성으로 보입니다.</h1>
              <h1 class="result_title result_warning" id="result">코로나는 아니지만 어쩌구</h1>

              <div class="result_desc">
                <h3 class="result_subtitle">상세 설명</h3>
                <div>자세한 설명을 이렇게 쓸것입니다. 어쩌구 저쩌구 당신은 음성. 나는 양성... 아님.. 나는 건강</div>

              </div>
              <div class="result_clinic">
                <h3 class="result_subtitle">선별 진료소</h3>
                <div>선별 진료소는 어디에 있다 어쩌구 저쩌구</div>

              </div>
              <div class="result_sub_desc">
                <h3 class="result_subtitle">추가 설명</h3>

                <div>다른 부가 설명은 여기에</div>
              </div>
            </div>

            <div class="action_wrap">
              <div class="">친구에게 공유하기</div>
            </div>
          </div>
        </div>
      </div>

    </div>

  <footer class="footer">
    <div class="container">
      <div class=" main_footer">
만든 사람들: 어쩌구 저쩌구
      </div>
    </div>

  </footer>
  </body>
</html>
