<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
</head>
<body>
    <div class="container">
        <div class="inner">

            <h2 id="question"></h2>
                <ul class="simpleList">
                    <li class="simpleListAnswer">
			<span class="simpleListText" id="Y_btn">네</span>
                    </li>
                    <li class="simpleListAnswer">
                        <span class="simpleListText" id="N_btn">아니오</span>
                    </li>
                </ul>
	</div>
   </div>
</body>
</html>
