<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
    <title>Hello, Corona19</title>
  </head>
  <body>
    <div id="root">
      <div id="title" style="font-size:20px;"></div>
      <div id="question">
      </div>
      <button type="button" id="Y_btn">Yes</button>
      <button type="button" id="N_btn">No</button>
    </div>
  </body>
</html>
